

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/*logo icon*/
.logo{
     float: left;
     border-radius: 20px;
     filter: opacity(30);
     
}

header{
    text-align: center;
    background-color: #d7bd80cb;
    color: #82745fc2;
    padding: 1em;
    
    
    

}

.menue{
    color: rgb(72, 72, 72);
    text-decoration:none;
    position: static;
    padding: 20px;
    display: inline-block;
    font-family: "Urbanist", sans-serif;
    
    


}



/*hamburger hidden on big disply*/

.hamburger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
}





:hover.menue{
    transition-duration: 0.5s;
    background-color: #82745fc2;
    border-radius: 5%;
   transform: scale(1.1);
}
body{
    background-image: url(..//IMG/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.homepg{
    background-image: url("..//IMG/bride.jpg");
    background-repeat: no-repeat;
    height: 500px;
    border-radius: 20px;
    text-align: center;
    padding: 8em;
    margin-top: 05px;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    color: bisque;
}
/*link in header*/
.headlink{
    text-decoration: none;
    color:#82745fc2;
text-align: center;}




/*catogary page items start*/
 .options{
    display: inline-block;
    margin: 1em;
    background: #fff;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0px 8px 4px rgb(0,0,0,0.2);
    overflow: hidden;
    transition: 0.4s;
    
   
    

}



/*js library animat*/


section {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.slide-in {
    opacity: 1;
    transform: translateX(0);
}

.service {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 1.6s ease-out, transform 1.6s ease-out;
}

.service.slide-in-right {
    opacity: 1;
    transform: translateX(0);
}








.options a{
    display: block;
    text-decoration: none;
    background: #333;
    color: #f5e7e7;
    margin: 1em;
    padding: 1em;
    transition: background 0.5s ease;
    border-radius: 5px;


}
.options h2{
    padding: 1em 0em;
}
.options p{
    padding: 0em 1em;
}

.options img{
    width: 100%;
    height: 400px;

  
}
.hmall{
    padding: 2em;
    text-align: center;
    background: rgba(255, 255, 255, 0.372);
    margin: 1em;
    border-radius: 10px;
}
.options:hover {
    transform: scale(1.05);
}
.options a:hover{
    background: rgba(181, 69, 69, 0.5);
}

.catobg{
    background-color: #ffffff;
   

}

/*catogary finished*/






/* servises page only start */
.servicclass{
    text-align: center;
    background: rgba(95, 95, 95, 0.189);
    display:inline-block;
    margin: 1em;
    border-radius: 15px;
    min-height: 100px;
    padding: 1em;
    transition: 0.4s;
    margin-left: 150px;
    margin-right: 5px;
    max-width:35%;
    min-width: 35%;
    

}



.servicclass:hover{
    transform: scale(1.04);
}




.bestsell{
    display: inline-block;
    background: #9e9a9a61;
    padding: 1em;
    margin: 1em;
    border-radius: 15px;
    width: 300px;
    height: 300px;

}

.bestsell img{

    width: 200px;
    height: 250px;
    margin: 2em;
    transition: 0.4s;
}

.bestsell img:hover{
    transform: scale(1.3);
}
.bestsellall{
    margin-left: 30px;
}
h2{
    font-family: "Urbanist", sans-serif;
}
.bestselllearn a:hover{
    background: #030303;
    color: white;
    display: inline-block;
    transform: scale(1.3);
    transition: 0.4s;
    box-shadow: rgba(0, 8, 4, 0.5);
    border-radius: 5px;
    text-decoration: none;

}
.bestselllearn a {
    text-decoration: none;
    color: #000;
    height: 100%;
    
}




.services {
    max-width: 800px;
    margin: auto;
    padding: 1rem;
  }
  
  /* other service*/
  .service {
    border-bottom: 2px solid #ccc;
    padding: 1rem 0;
    display:inline-block;
    background-color: rgba(128, 128, 128, 0.091);
    width: 800px;
    padding: 1em;
    margin: 1em;
    margin-left: -5px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
  }
  
  .service h3 {
    color: #4A90E2;
  }

  /* servises page only end */
  

/*about page start*/













  .aboutcont{
    margin-left: 15px;
    margin: 0;
    font-family: "Urbanist", sans-serif;
    color: #0b0b0b;
    position: relative;
    bottom: 180px;
    margin-left: 10px;

  }
  .aboutstory{
    background: white;
    position: relative;
    /*
    bottom: 180px;
    */
    height:100%;
  }

  .aboutstory h1{
    margin-left: 15px;
  }

  .aboutstory p{
    margin-left: 15px;
  }
  .ourcraft{
    text-align: center;
    
    position: relative;
  }

 
  .yt{
    text-align: center; /*youtube ifram center cod*/
    
  }



  .a2{
    text-decoration: none;
    color: #333;
    text-align: center;
   
    
}

/*about page end*/


.collactions{
    display: inline-block;
    position:static;
}
.contact{
    display: inline-block;
    position: relative;
}

/* 1st foot*/
.upperfoot{
    background-color: rgba(250, 235, 215, 0.416);
    margin-bottom: 0%;
    margin-top: 0%;

}

    /*last Footer */
    footer {
        text-align: center;
        padding: 1em;
        background-color: #333;
        color: #fff;
        margin-top: 2em;
        position: relative;
        bottom: 0;
        width: 100%;
        border-radius: 10px;
     
    }

    .contactForm{
        text-align: center;
        display: flex;
        
    }





/*only on small screens*/

/* Responsive Styles */
 @media (max-width: 768px) 
{ .logo {
     float: none;
     
     margin: 0 auto; } 
     




     .hamburger-menu {
        display: block;
        width: 40px;
        position:relative;
        text-align: initial;
       
        
            }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        transition: ease 0.7s;
        position: relative;
    }

    .menu.show {
        display: flex;
        position: relative;
        transition: all ease;
       animation-delay: -1s ;
        height: 400px; /* Adjust based on the content */

    }

    .menue {
        width: 100%;
        text-align: left;
        padding: 10px 20px;
        margin-top: 15px;
       
        
      
    }




    .menu {
        display: none;
        flex-direction: column;
        height: 0;
        overflow: hidden;
        transition: height 0.9s ease-out;
    }
    
    .tt a {
        opacity: 0;
        transform: translateX(-50px);
        transition: opacity 0.5s ease-out, transform 0.9s ease-out;
    }
    
    .hamburger-menu {
        cursor: pointer;
        /* Add additional styles as needed */
    }
    






    
    





    .tt{
       margin-left: -8px;
        background-blend-mode: overlay;
        background-color: #5f595912;
        border-radius: 15px;
        

    }







.options {
     width: auto;
     margin: 10px 0;
      
    }

 .homepg {
    
      padding: 4em; height: auto; }
    
    
    
    
    .body{
        width: 400px;
    }

    .servicclass{
        display:inline-block;
        max-width:90%;
        min-width: 70%;
        margin-left: 25px;
        
    }
    .service{
        max-width: 90%;
        
    }
    .hmall{
        padding: 0em;
    }







    .options{
        display: inline-block;
        margin: 1em;
        background: #fff;
        border-radius: 15px;
     
        box-shadow: 0px 8px 4px rgb(0,0,0,0.2);
        overflow: hidden;
        max-block-size: 20%;
     
        
       
        
    
    }

    .options h2{
        padding: 1em 0em;
    }
    .options p{
        padding: 0em 1em;
    }

    .a2{
        text-decoration: none;
        color: #333;
        text-align: center;
       
        
    }
    .collactions{
        display: inline-block;
        position:static;
    }
    .contact{
        display: inline-block;
        position: relative;
    }
    .upperfoot{
        background-color: rgba(250, 235, 215, 0.416);
        margin-bottom: 0%;
    
    }





    .ourcraft img{
        width:350px;
    
        
        position: relative;
      }
      .yt{
        text-align: center;
       
      }
      iframe { height: 280px;
        width: 350px;
    
    }



    
    


}



/* Mobile-specific styles */ 
@media (max-width: 388px){

    .footer {
        background-color: #f5e6e6;
        padding: 20px;
        display:block;
        justify-content: space-between;
        margin:0;
    }
    


}



/*mobile only finished */


/*upperfoot bigger foot*/


.footer2 {
    background-color: #f5e6e6;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin:0;
    
}

.footer-column {
    flex: 1;
    margin: 0 10px;
}


.footer-column h3 {
    color: #8b0000;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin: 5px 0;
    
}

.footer-column ul li a {
    text-decoration: none;
    color: #000;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info div {
    margin: 5px 0;
}



.social-media1 {
    text-align: center;
    margin-top: 0px;
    background-color: #f5e6e6;
    height: 90px;
}

.social-media1 img {
    width: 30px;
    margin: 0 10px;
    border-radius: 10px;
    transition-duration: 0.3s;
}
.social-media1 img:hover{
    transform: scale(1.3);
}
.footer-column a{
    text-decoration: none;
    color: rgba(18, 16, 16, 0.663);
}


.hov:hover{
   transform: scale(1.5);
   color: rgba(197, 167, 129, 0.722);
}

.hov{
    transition:transform 0.3s;
    display: inline-block;
    
}










.upperfoot{
    background-color: #f5e6e6;
    margin-bottom: 0%;
    margin-top: 0%;
    text-decoration: none;
    text-align: center;


}
     /* Footer */
     footer {
        text-align: center;
        padding: 1em;
        background-color: #333;
        color: #fff;
        margin-top: 0em;
        position: relative;
        bottom: 0;
        width: 100%;
        border-radius: 10px;
     
    }








    /*contact page only*/


    .contact {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        margin: 20px;
        background-color: #ffffffc5;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .contact-info, .contact-form {
        width: 45%;
    }
    
    .contact-info h2, .contact-form h2 {
        color: #333;
    }
    
    .contact-info p {
        line-height: 1.6;
    }
    
    .social-media a {
        margin: 0 10px;
        text-decoration: none;
    }

    .social-media img {
        width: 40px;
        margin: 0 10px;
        border-radius: 10px;
    }
    
    .contact-form form {
        display: flex;
        flex-direction: column;
    }
    
    .contact-form label {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    
    .contact-form input, .contact-form select, .contact-form textarea {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .contact-form button {
        padding: 10px;
        background-color: #82745f;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .contact-form button:hover {
        background-color: #666;
    }
    

    .conthead{
        background-image: url(/html/IMG/Product-Category-Banner-1920x533-1.jpg);
        display: block;
        height: 350px;
        width: 100%;
    }
 

        
/*  background-color: #82745f22;
        display:block;
        position:relative;
        width: 40%;
        margin: 1em;
        border-top-right-radius: 15px;
        margin-left:-4px;